@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Overpass", sans-serif;
}

html {
  font-size: 16px;
}

body {
  background-color: hsl(216deg, 12%, 8%);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(217deg, 12%, 63%);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.container .card {
  padding: 2rem 1.5rem;
  max-width: 410px;
  min-width: 350px;
  background-color: hsl(213deg, 19%, 18%);
  border-radius: 1.25rem;
  margin: 0 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  height: 390px;
  overflow: hidden;
}
.container .card .title {
  font-weight: 700;
  color: #fff;
}
.container .card .description {
  font-size: 15px;
  font-weight: 500;
  color: hsl(217deg, 12%, 63%);
  line-height: 1.5;
}

.rate-header {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 0.5rem;
}
.rate-header .star {
  background-color: rgba(124, 135, 152, 0.3);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rate-header .title {
  font-size: 1.5rem;
}
.rate-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
}
.rate-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.rate-list .level {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(124, 135, 152, 0.3);
  color: hsl(217deg, 12%, 63%);
  width: 50px;
  height: 50px;
  font-size: 1rem;
}
.rate-list .level:hover {
  background-color: #7c8798;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.rate-list .level.selected {
  background-color: hsl(25deg, 97%, 53%);
  color: #fff;
}
.rate-footer {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  width: 100%;
}
.rate-footer__button {
  background-color: hsl(25deg, 97%, 53%);
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  border-radius: 2rem;
  font-weight: 700;
  padding: 0.75rem 1rem;
  color: #fff;
  font-size: 0.875rem;
  width: 100%;
  outline: none;
  border: 2px solid transparent;
  cursor: pointer;
}
.rate-footer__button:hover {
  background-color: #fff;
  color: hsl(25deg, 97%, 53%);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.rate-footer__button:active {
  border: 2px solid hsl(25deg, 97%, 53%);
}

.thanks {
  gap: 2rem;
  color: hsl(217deg, 12%, 63%);
}
.thanks-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}
.thanks-badge {
  padding: 0.5rem 1.5rem;
  background-color: rgba(124, 135, 152, 0.1);
  border-radius: 2rem;
  color: rgba(251, 116, 19, 0.8);
  font-size: 14px;
}
.thanks-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  text-align: center;
}
.thanks-body .title {
  font-size: 1.875rem;
}

.hidden {
  display: none !important;
}/*# sourceMappingURL=style.css.map */